.row.main{
	margin:0px;
}

#loginBox{
	width:100%;	
}

#loginBox .form-control {
    margin-top: 0em !important; 
}

.alert {
    margin-bottom:0px;
}

/*XS*/
@media only screen and (max-width: 767px) {
    #loginBox {
        height: 100% !important;
        overflow-y:hidden;
    }

    #loginContainer {
        height: 100% !important;
    }
}
