/* Space out content a bit */
html{
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

/*Custom Navbar*/
.navbar.custom{
	background:#3498db;
	border-bottom:0px;
	position:relative !important;
	margin-bottom:0px;
}

.navbar.custom .container{
	width:100%;
}

.navbar.custom .container .logothumb{
	float:left;
	width:150px;
	padding-top:0.4em;
	padding-bottom:0.3em;
	margin-right:6em;
}

.navbar.custom .container i{
	padding:1em;		
}

/*Top menu - menu that is fixed to the top of parent*/
.topmenu{	
	background:#34495e;	
	height:2.8em;
}

/*Content area*/
.content{
	float:left;	
  	height: 100%;
  	width: 100%;
  	background:#2C3E50;
}

.breadcrumb {	
	float:left;
	padding: 10px 10px 5px 1em;		
	background-color: transparent;	
}

#secureContent{
	width:100%;
	height:100%;
}

#loginBox{
	width:100%;	
}

/* Mobile screens */

/*SM*/
@media only screen and (max-width: 991px) { 

	.row.main{
		margin-top:25%;		
	}
}


/*XS*/
@media only screen and (max-width: 767px) { 
	#loginBox{
		height:100% !important;
	}

	#loginContainer{
		height:100% !important;
	}

	.container-fluid.main{
		height:100%;
	}

	.row.main{
		margin-top:0px !important;
		height:100%;
	}
}

@media only screen and (max-width: 480px) { 
		
	.navbar.custom .container i{
		float:right;		
	}

	.navbar.custom .container .logothumb{		
		margin-right:0em;
	}
}

@media only screen and (max-width: 344px) { 
	
	.navbar.custom .container .logothumb{		
		margin-right:10em;
	}
}

/*TASK VIEW*/
.taskView{
	height:100%;
	width:100%;
	background:#fff;
}

/*GANTT VIEW*/
.ganttView{
	height:100%;
	width:100%;
	background:#fff;
}

