/* Space out content a bit */
html{
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

/*Custom Navbar*/
.navbar.custom{
	background:#3498db;
	border-bottom:0px;
}

.navbar.custom .container{
	width:100%;
}

.navbar.custom .container .logothumb{
	float:left;
	width:150px;
	padding-top:0.4em;
	padding-bottom:0.3em;
	margin-right:6em;
}

.navbar.custom .container i{
	padding:1em;		
}


/*Top menu - menu that is fixed to the top of parent*/
.topmenu{
	overflow:hidden;
	background:#34495e;
	margin-top:50px;		
}

/*Content area*/
.content{
	float:left;	
  	height: 100%;
  	width: 100%;
}

.breadcrumb {	
	float:left;
	padding: 10px 10px 5px 1em;		
	background-color: transparent;	
}

#secureContent{
	width:100%;
	height:100%;
}

/* User States */

.Unsecure{
	display:block;
	background: #34495e;
}

.Unsecure .navbar{
	margin-top: -5em;
}

.Unsecure .topmenu{
	margin-top: -5em;
}

.SecureProj .topmenu{
	margin-top: 0em;
}

.SecureProj #loginBox{
	display:none;
}

.SecureTask #loginBox{
	display:none;
}


#unsecureContent #loginBox{
	width:100%;	
	background:#ecf0f1;

	-webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.86);
	-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 0.86);
	box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 0.86);
}

/* Mobile screens */

/*SM*/
@media only screen and (max-width: 991px) { 

	.row.main{
		margin-top:25%;		
	}
}


/*XS*/
@media only screen and (max-width: 767px) { 
	#loginBox{
		height:100% !important;
	}

	#loginContainer{
		height:100% !important;
	}

	.container-fluid.main{
		height:100%;
	}

	.row.main{
		margin-top:0px !important;
		height:100%;
	}
}

@media only screen and (max-width: 480px) { 
	.slenmenu{		
		margin-top:7.1em !important;			
	}

	.navbar.custom .container{
		height:7.1em;
	}
	.navbar.custom .container i{
		float:right;		
	}

	.navbar.custom .container .logothumb{		
		margin-right:0em;
	}
}

@media only screen and (max-width: 344px) { 
	
	.navbar.custom .container .logothumb{		
		margin-right:10em;
	}
}
