.pace{
  background:#3498db; 
}

.pace .pace-progress {
  background: #34495e;
  position: relative;
  z-index: 999999;
  top: 0;
  left: 0;
  height: .2em;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {  

}