body {
}

#cmpRegBox .form-control {
    margin-top: 0em !important;
}

#registerBox .form-control {
    margin-top: 0em !important;
}

/*Password Strength*/
.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}