<div class="task_grid">
   <div class="gantt_grid_scale" style="height: 34px; line-height: 33px;">
      <div class="task_grid_head_cell" style="margin-left:1em;float:left;" column_id="text">Task name</div>			
      <div class="task_grid_head_cell task_grid_head_add" style="width:43px;" column_id="add" data-toggle="modal" data-target="#addTaskModal" ng-show="user.roleId == 1"></div>
       <span style="float:right;margin-right:1em;">Complete</span>
   </div>
   <div class="task_grid_data">
       <div style="width:100%;text-align:center;padding:2em;" ng-show="taskLoading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
       </div>
        <div class="panel-group" id="accordion">
            <div ng-repeat="task in tasks" class="taskList">
              <div class="panel panel-default">
                <div ng-click="setCurrentTask(task)" ng-class="task.id === currTask.id ?  'panel-heading active' : 'panel-heading'" ><!-- data-parent="#accordion" data-toggle="collapse" data-target="#collapse{{task.id}}"-->                                             
                    {{task.name}} 
                    <label class="switch" style="float:right;" ng-show="user.roleId == 1"><input type="checkbox" data-toggle="modal" data-target="#markAsCompleteTaskModal"><i></i></label>                   
                </div>
                <div id="collapse{{task.id}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    
                  </div>
                </div>
              </div>              
            </div>            
        </div>
   </div>				   
</div> 	

<div class="modal fade" id="addTaskModal" ng-controller="TasksCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
    <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a task</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Task name" ng-model="taskName"></input>   
        <input type="text" class="form-control" placeholder="Task description" ng-model="taskDesc"></input>   
        <input type="text" class="form-control" placeholder="Planned start date" ui-date="dateOptions" ui-date-format="yy/d/m" id="taskStartDate" ng-model="plannedStartDate"></input>    
        <input type="text" class="form-control" placeholder="Planned end date" ui-date="dateOptions" ui-date-format="yy/d/m" id="taskEndDate" ng-model="plannedEndDate"></input>     
        <input type="text" class="form-control" placeholder="Hours allocated" ng-model="timeAllocation"></input>         
        <select class="form-control" ng-model="priorityId" placeholder="Priority">
          <option value="1" class="fade-down">Low</option>
          <option value="2">Medium</option>
          <option value="3">High</option>
        </select>        
        <div ng-class="result.success ? 'alert alert-success' : 'alert alert-danger'" ng-hide="result === undefined" style="margin-top:0.5em;">{{result.message}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Add task" ng-click="addTask()"></input>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Mark task as complete-->
<div class="modal fade" id="markAsCompleteTaskModal" ng-controller="TasksCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
    <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Mark tas {{currTask.name}} as completed</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">Danger zone! Please enter the name of the task that you would like to delete.</div>
        <input type="text" class="form-control" placeholder="Task name" ng-model="taskName"></input> 
        <div ng-class="success ? 'alert alert-success' : 'alert alert-danger'" ng-hide="success === undefined" style="margin-top:0.5em;">{{message}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Mark as Complete" ng-click="markTaskAsComplete(taskName)"></input>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->