<div class="ganttView" style="height:100%;">
      <div class="container-fluid"  style="height:100%;">
		  <div class="row" style="height:100%;">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    	 <gantt first-day-of-week="1"
                       filter-task="{'name': options.filterTask}"
                       filter-row="{'name': options.filterRow}"
                       load-data="loadData = fn"
                       load-timespans="loadTimespans = fn"
                       center-date="scrollToDate = fn"
                       remove-data="removeData = fn"
                       clear-data="clearData = fn"
                       allow-task-moving="!options.readOnly"
                       allow-task-resizing="!options.readOnly"
                       allow-task-row-switching="!options.readOnly"
                       sort-mode="options.mode"
                       view-scale="options.scale"
                       column-width="options.scale === 'month' && 200 || (options.scale === 'week' && 100 || 40)"
                       column-sub-scale="options.scale === 'week' && 7 || 6"
                       width="options.width && 160 || 0"
                       auto-expand="options.autoExpand"
                       task-out-of-range="options.taskOutOfRange"
                       from-date = "options.fromDate"
                       to-date = "options.toDate"
                       work-hours="[8,9,10,11,12,13,14,15]"
                       show-non-work-hours="options.showNonWorkHours"
                       weekend-days="[0,6]"
                       show-weekends="options.showWeekends"
                       current-date="options.currentDate"
                       current-date-value="options.currentDateValue"
                       max-height="options.maxHeight && 300 || 0"
                       on-scroll="scrollEvent(event)"
                       header-format-day="options.scale === 'hour' && 'LL' || 'D'">
                </gantt>
			</div>
		  </div>
		</div>
</div>