<div class="taskView">

	<script src="bower_components/angular-treeview/angular.treeview.min.js"></script>
	<link rel="stylesheet" href="bower_components/angular-treeview/css//angular.treeview.css" />	

      <div class="container-fluid">
		  <div class="row" style="height:100%;width:100%;">
		    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" style="background:#ECF0F1;height:100%;">
		    	<div
			      data-angular-treeview="true"
			      data-tree-id="mytree"
			      data-tree-model="roleList"
			      data-node-id="roleId"
			      data-node-label="roleName"
			      data-node-children="children" >
			    </div>
			</div>
		  </div>
		</div>
</div>

